# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Data files
*.csv
*.zip

# Model files
*.h5

# IDE specific files
.vscode/
.idea/
*.swp

# Python virtual environments
*.env
*.venv

# Miscellaneous
.DS_Store
Thumbs.db